{% extends 'base.html' %}

{% block content %}
    <table border="1" align="center" margin-top="40px" style="border-collapse: collapse;">
        <tr>
            <th>SL No</th>
            <th>Company</th>
            <th>Asset Type</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Assigned Date</th>
            <th>Returned Date</th>
            <th>Assigned Condition</th>
            <th>Returned Condition</th>
        </tr>
        {% for asset in assets %}
            <tr  align="center">
                <td>{{asset.id}}</td>
                <td>{{ asset.employee.company.name }}</td>
                <td>{{asset.asset_type}}</td>
                <td>{{asset.brand}}</td>
                <td>{{asset.model}}</td>
                <td>{{asset.assigned_date}}</td>
                <td>{{asset.returned_date}}</td>
                <td>{{asset.assigned_condition}}</td>
                <td>{{asset.returned_condition}}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}